@font-face {
  font-family: "SFProDisplay";
  src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
  font-family: "SFCompactText";
  src: url("/assets/fonts/SFCompactText-Light.otf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeueCyr-Medium.ttf");
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "SFProDisplay", sans-serif;
}

.footer .containerFooter .column .btn, .wrapForm form .btnForm, .leftColumn .btnBottom, .leftColumn .btnTop, .wrapMainText .btn {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapForm form .btnForm button, .leftColumn .btnBottom button, .leftColumn .btnTop button, .wrapMainText .btn button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

.footer .containerFooter .column .btn, .wrapForm form .btnForm, .leftColumn .btnBottom, .leftColumn .btnTop, .wrapMainText .btn {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapForm form .btnForm button, .leftColumn .btnBottom button, .leftColumn .btnTop button, .wrapMainText .btn button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

.container {
  max-width: 1570px;
  height: 1080px;
  position: relative;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}
header .navbar img {
  padding-right: 40px;
}
header .navbar .mainTitle {
  font-size: 22px;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 900;
}

.background {
  width: 100%;
  position: absolute;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  top: 0;
  left: 0;
}
.background img {
  width: 100%;
  height: 1080px;
}

.wrapMainText {
  position: absolute;
  color: #ffffff;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 162px 0px 0px 0px;
}
.wrapMainText .head {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  margin-bottom: 57px;
}
.wrapMainText .title {
  font-size: 80px;
  line-height: 84px;
  margin-bottom: 40px;
}
.wrapMainText .mainText {
  font-family: "SFCompactText";
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 60px;
}
.wrapMainText .btn {
  max-width: 274px;
  height: 80px;
  background: #e8594e;
  border-radius: 8px;
}

.bottomHead {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.bottomHead input {
  width: 100%;
  padding: 49px 56px;
  background: #ffffff;
  box-shadow: inset 0px -2px 0px rgba(223, 223, 223, 0.5);
  border-radius: 4px 0px 0px 0px;
  border: none;
}
.bottomHead .picture {
  position: relative;
  top: -280px;
}
.bottomHead img {
  border-radius: 8px 8px 0px 0px;
}
.bottomHead .btnPlay {
  position: absolute;
  left: 45%;
  top: 100px;
  border-radius: 0px;
}
.bottomHead .btnPlay img {
  border-radius: 0px;
}
.bottomHead .toggle {
  max-width: 502px;
  height: 120px;
  background: #73afba;
  border-radius: 0px 4px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2.18182px;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
}

.footer .containerFooter .column .btn, .wrapForm form .btnForm, .leftColumn .btnBottom, .leftColumn .btnTop, .wrapMainText .btn {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapForm form .btnForm button, .leftColumn .btnBottom button, .leftColumn .btnTop button, .wrapMainText .btn button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

.text-h1 {
  font-size: 64px;
  color: #1c2e3d;
  padding: 150px 0px 96px 0px;
  max-width: 730px;
}

.row a.col {
  position: relative;
  margin: 10px;
  padding: 0;
}
.row a.col .item-inner {
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.row a.col .item-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4 ease;
}
.row a.col .item-inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #73AFBA;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 10;
}
.row a.col .item-inner:hover:before {
  opacity: 0.9;
  border-radius: 5px;
}
.row a.col .item-inner .item-text {
  position: absolute;
  max-width: 230px;
  left: 50px;
  bottom: 60px;
  font-family: "SFProDisplay";
  font-size: 24px;
  color: #FFFFFF;
  overflow: hidden;
  z-index: 20;
}
.row a.col .item-inner .item-text span {
  display: block;
  transform: translateY(70px);
  transition: transform 0.3s ease;
}
.row a.col .item-inner:hover img {
  transform: scale(1.05);
}
.row a.col .item-inner:hover .item-text span {
  transform: translateY(0);
}

.footer .containerFooter .column .btn, .wrapForm form .btnForm, .leftColumn .btnBottom, .leftColumn .btnTop, .wrapMainText .btn {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapForm form .btnForm button, .leftColumn .btnBottom button, .leftColumn .btnTop button, .wrapMainText .btn button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

section {
  position: relative;
  height: 1080px;
}

.container-main {
  max-width: 1570px;
  height: 1080px;
  position: relative;
}

.leftColumn {
  position: absolute;
  top: 604px;
  max-width: 634px;
}
.leftColumn .btnTop {
  width: 132px;
  height: 48px;
  background: #e8594e;
  border-radius: 24px;
}
.leftColumn .callFeatured {
  font-size: 48px;
  color: #ffffff;
  height: 128px;
  line-height: 64px;
  margin: 16px 0px;
}
.leftColumn .textFeatured {
  font-size: 14px;
  color: #ffffff;
  font-family: "SFCompactText";
  line-height: 20px;
}
.leftColumn .btnBottom {
  margin-top: 40px;
  max-width: 274px;
  height: 80px;
  background: #73afba;
  border-radius: 8px;
}

.rightContainer {
  position: absolute;
  max-width: 678px;
  right: 0;
  top: 0;
}
.rightContainer .rightColumn {
  position: absolute;
  left: 133px;
  max-width: 368px;
  top: 127px;
  left: 133px;
}
.rightContainer .rightColumn .callSecondCol {
  font-size: 64px;
  color: #ffffff;
  max-width: 368px;
  line-height: 80px;
}
.rightContainer .rightColumn .topics {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.rightContainer .rightColumn .topics .topic:not(:last-child) {
  border-bottom: 1px solid rgba(227, 227, 227, 0.5);
}
.rightContainer .rightColumn .topics .topic {
  display: flex;
  margin-top: 32px;
}
.rightContainer .rightColumn .topics .topic img {
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  margin-right: 32px;
}
.rightContainer .rightColumn .topics .topic .topicWrap {
  max-width: 288px;
}
.rightContainer .rightColumn .topics .topic .topicWrap .textTopic {
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 8px;
}
.rightContainer .rightColumn .topics .topic .topicWrap .dateTopic {
  font-size: 11px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.502293);
  margin-bottom: 32px;
}

.backgroundSecond {
  position: absolute;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  top: 0;
  left: 0;
}
.backgroundSecond img {
  width: 100%;
  height: 1080px;
}
.backgroundSecond .rectangle {
  max-width: 35.4%;
  position: absolute;
  right: 0;
}

.footer .containerFooter .column .btn, .wrapForm form .btnForm, .wrapMainText .btn, .leftColumn .btnTop, .leftColumn .btnBottom {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapForm form .btnForm button, .wrapMainText .btn button, .leftColumn .btnTop button, .leftColumn .btnBottom button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

.wrap_thirdArticle {
  padding: 0;
  margin-bottom: 150px;
}
.wrap_thirdArticle .row {
  flex-wrap: nowrap;
}
.wrap_thirdArticle .row .item_img_width {
  max-width: 100%;
}
.wrap_thirdArticle .row .position_Text {
  position: relative;
}
.wrap_thirdArticle .row .position_Text .bottomTextPlay {
  position: absolute;
  left: 5%;
  font-size: 32px;
  color: #ffffff;
  bottom: 5%;
  line-height: 40px;
}

.footer .containerFooter .column .btn, .wrapForm form .btnForm, .wrapMainText .btn, .leftColumn .btnTop, .leftColumn .btnBottom {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapForm form .btnForm button, .wrapMainText .btn button, .leftColumn .btnTop button, .leftColumn .btnBottom button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

.wrapForm {
  max-width: 1570px;
  margin: 150px auto 0 auto;
  height: 798px;
  position: relative;
}
.wrapForm img {
  width: 100%;
}
.wrapForm .blockForm {
  position: absolute;
  left: 135px;
  display: flex;
  flex-direction: column;
  max-width: 368px;
  top: 336px;
}
.wrapForm .blockForm .blockTitle {
  font-size: 64px;
  color: #ffffff;
  line-height: 80px;
}
.wrapForm .blockForm .blockText {
  font-size: 16px;
  color: #ffffff;
  margin-top: 40px;
  font-family: "SFCompactText";
  line-height: 21px;
}
.wrapForm form {
  max-width: 501px;
  position: absolute;
  right: 133px;
  top: 474px;
  background-color: #ffffff;
}
.wrapForm form .wrapInput {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 65px;
  width: 501px;
}
.wrapForm form .wrapInput .line input {
  letter-spacing: 2px;
  color: #1c2e3d;
  border: transparent;
  border-bottom: 1px solid rgba(179, 179, 179, 0.5);
  margin-left: 73px;
  padding-bottom: 24px;
  padding-top: 32px;
  width: 352px;
}
.wrapForm form .btnForm {
  height: 80px;
  background: #73afba;
  border-radius: 0 0 8px 8px;
}

.footer .containerFooter .column .btn, .wrapMainText .btn, .leftColumn .btnTop, .leftColumn .btnBottom, .wrapForm form .btnForm {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapMainText .btn button, .leftColumn .btnTop button, .leftColumn .btnBottom button, .wrapForm form .btnForm button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1570px;
  margin: 0 auto;
  position: relative;
}
.wrap .nameArticle {
  font-size: 64px;
  color: #1c2e3d;
  padding-top: 150px;
  line-height: 80px;
  text-align: center;
}
.wrap .textArticle {
  font-size: 16px;
  color: #788692;
  font-family: "SFCompactText";
  max-width: 640px;
  line-height: 24px;
  text-align: center;
  text-align: center;
  margin: 0 auto 96px auto;
}
.wrap picture {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}
.wrap picture .row1foto {
  position: relative;
}
.wrap picture .row1foto .row1foto-fill {
  position: absolute;
  left: 40px;
  display: flex;
  flex-direction: column;
  top: 322px;
}
.wrap picture .row1foto .row1foto-fill .about {
  font-size: 10px;
  color: #ffffff;
  line-height: 12px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.wrap picture .row1foto .row1foto-fill .title {
  font-size: 32px;
  color: #ffffff;
  line-height: 40px;
  margin-bottom: 30px;
}
.wrap picture .row1foto .row1foto-fill .avatar {
  position: relative;
}
.wrap picture .row1foto .row1foto-fill .avatar .avatar1 {
  position: absolute;
}
.wrap picture .row1foto .row1foto-fill .avatar .avatar1 img {
  position: absolute;
}
.wrap picture .row1foto .row1foto-fill .avatar .avatar2 {
  position: absolute;
  left: 32px;
}
.wrap picture .row1foto .row1foto-fill .avatar .avatar2 img {
  position: absolute;
}
.wrap picture .row1foto .row1foto-fill .avatar .avatar3 {
  position: absolute;
  left: 64px;
}
.wrap picture .row1foto .row1foto-fill .avatar .avatar3 img {
  position: absolute;
}
.wrap picture .row1foto2 {
  position: relative;
}

.footer .containerFooter .column .btn, .wrapMainText .btn, .leftColumn .btnTop, .leftColumn .btnBottom, .wrapForm form .btnForm {
  display: flex;
  justify-content: center;
}
.footer .containerFooter .column .btn button, .wrapMainText .btn button, .leftColumn .btnTop button, .leftColumn .btnBottom button, .wrapForm form .btnForm button {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2.18182px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
}

.footer {
  height: 498px;
  margin-top: 140px;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}
.footer .containerFooter {
  max-width: 1570px;
  margin: 0 auto;
  padding-top: 124px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer .containerFooter .column {
  display: flex;
  flex-direction: column;
}
.footer .containerFooter .column .title {
  font-size: 12px;
  color: #100e0b;
  font-family: "HelveticaNeue";
  line-height: 14px;
  letter-spacing: 2.15px;
  text-transform: uppercase;
  padding-bottom: 32px;
}
.footer .containerFooter .column .line {
  border-bottom: 1px solid #57a773;
  width: 48px;
  margin-bottom: 32px;
}
.footer .containerFooter .column a {
  font-size: 13px;
  color: #959ea6;
  text-decoration: none;
  font-family: "SFCompactText";
  font-weight: 400;
  line-height: 29px;
}
.footer .containerFooter .column input {
  width: 304px;
  height: 64px;
  padding: 0 32px;
  margin-bottom: 16px;
  font-size: 17px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid rgba(179, 179, 179, 0.5);
}
.footer .containerFooter .column .btn {
  max-width: 376px;
  height: 80px;
  background: #73afba;
  border-radius: 8px;
}

.footerBottom {
  max-width: 1570px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}
.footerBottom .footText {
  font-size: 13px;
  color: #959ea6;
  font-family: "SFProText";
  line-height: 15px;
  display: flex;
}
.footerBottom .footText .service {
  padding-right: 40px;
}/*# sourceMappingURL=style.css.map */