doctype html
html(lang="en")
  head
    title= 'Mitravel'
    //- link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css")
    style 
      include css/style.css
  body
    include components/navbar.pug
    include components/firstArticle.pug
    include components/secondArticle.pug
    include components/thirdArticle.pug
    include components/form.pug
    include components/inspirations.pug
    include components/footer.pug

