

doctype html
html(lang="en")
  head
    title= Mitravel
    style 
      include ./assets/style/style.css
  body
    include components/navbar.pug
    include components/firstArticle.pug
    include components/secondArticle.pug
    include components/thirdArticle.pug
    include components/form.pug