section.container
    .text-left.text-h1 Become A Travel Pro In One Easy Lesson
    .row
        a.col(href="#")  
            .inner  
                img(src="./assets/images/Group4.jpg", alt="#")
        a.col(href="#")
            .inner  
                img(src="./assets/images/MaskGroup.png", alt="#")
        a.col(href="#")  
            .inner  
                img(src="./assets/images/Copy8.png", alt="#")
        a.col(href="#")  
            .inner  
                img(src="./assets/images/Copy9.png", alt="#")