section.container
    div.callArticle Become A Travel Pro In One Easy Lesson
    .wrapImg 
        img(src="./assets/images/Group4.jpg", alt="#")
        img(src="./assets/images/MaskGroup.png", alt="#")
        img(src="./assets/images/Copy8.png", alt="#")
        img(src="./assets/images/Copy9.png", alt="#")