.footer
    .containerFooter
        .firstColumn
            .title Company
            a(href="#") About
            a(href="#") Press
            a(href="#") Blog
            a(href="#") Careers
            a(href="#") Security
            a(href="#") Driver Centre
        .secondColumn
            .title Information
            a(href="#") Our Story
            a(href="#") Recipes
            a(href="#") Nutrition
            a(href="#") Resources
            a(href="#") Newsletter
            a(href="#") Contact
        .thirdColumn
            .title Information
            a(href="#") Customer service
            a(href="#") Recommend a restaurant
            a(href="#") Signup a restaurant
            a(href="#") Jobs
            a(href="#") Press
            a(href="#") Terms of use           
        .fourthColumn
            .title Subscribe Now
            input(type="text")           
            button Subscribe Now
 
       
       





       
       
       
       
       
       
       
        //- <div className='footer'>
        //-     <div className='container'>
        //-         <div className='col col-1'>
        //-             <h1>De<span className='primary'>Fi</span></h1>
        //-         </div>
        //-         <div className='col'>
        //-             <h5>Support</h5>
        //-             <span className='bar'></span>
        //-                 <a href='/'>Contact Us</a>
        //-                 <a href='/'>Chat</a>
        //-                 <a href='/'>Help Center</a>
        //-                 <a href='/'>FAQ</a>
        //-         </div>
        //-         <div className='col'>
        //-             <h5>Developers</h5>
        //-             <span className='bar'></span>
        //-                 <a href='/'>Cloud</a>
        //-                 <a href='/'>Commerce</a>
        //-                 <a href='/'>Pro</a>
        //-                 <a href='/'>API</a>
        //-         </div>
        //-         <div className='col'>
        //-             <h5>Company</h5>
        //-             <span className='bar'></span>
        //-                 <a href='/'>About</a>
        //-                 <a href='/'>Information</a>
        //-                 <a href='/'>Legal</a>
        //-                 <a href='/'>Privacy</a>
        //-         </div>
        //-         <div className='col'>
        //-             <h5>Social</h5>
        //-             <span className='bar'></span>
        //-                 <a href='/'><FaFacebook className='icon'/></a>
        //-                 <a href='/'><FaTwitter className='icon'/></a>
        //-                 <a href='/'><FaLinkedin className='icon'/></a>
        //-                 <a href='/'><FaGithub className='icon'/></a>
        //-         </div>
        //-     </div>

        //- </div>