picture.wrapForm
    img(src="./assets/images/mountain.png", alt="#")
    .blockForm
        .blockTitle Sign Up Our Newsletter
        .blockText The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce Canyon National Park ranks as three of the most magnificent.
    form(action="") 
        .wrapInput
            .line
                input(type="text" placeholder='NAME')
            .line
                input(type="text" placeholder='EMAIL')
            .line
                input(type="text" placeholder='PHONE NUMBER')
        .btnForm  
            button SIGN UP NOW