.wrap
    .nameArticle Inspirations
    .textArticle The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce Canyon National Park ranks as three of the most magnificent & awe inspiring.
    picture 
        img(src="./assets/images/11.png", alt="#")
        img(src="./assets/images/12.png", alt="#")
    picture 
        img(src="./assets/images/21.jpg", alt="#")
        img(src="./assets/images/22.jpg", alt="#")
        img(src="./assets/images/23.jpg", alt="#")
    picture 
        img(src="./assets/images/31.jpg", alt="#")
        img(src="./assets/images/32.jpg", alt="#")
