header.container
    nav.navbar
        picture 
            img(src='./assets/images/Path.png')
            img(src='./assets/images/Path.png', alt="#")
        div MITRAVEL
        div Hamburger
picture.background 
    img(src='./assets/images/Background.jpg', alt="")
        
    
