.wrap
    .nameArticle Featured Videos
    .textArticle The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce Canyon National Park ranks as three of the most magnificent & awe inspiring.
picture.pictureStyle
    img(src='./assets/images/3.jpg', alt="#").sizeImg
    .wrapVideo
        img(src='./assets/images/1.jpg', alt="#")
        .btnPlay 
            img(src="./assets/images/play.png", alt="#")
        .bottomTextPlay A Guide To Rocky Mountain Vacations 
    img(src='./assets/images/2.jpg', alt="#").sizeImg
