$max-width: 1570px;
$margin: 0 auto;

.container {
    max-width: $max-width;
    margin: $margin;
    height: 1080px;
    position: relative;
    .callArticle {
        padding-top: 150px;
        max-width: 730px;
        font-weight: 900;
        height: 160px;
        font-size: 64px;
        line-height: 80px;
        color: #1c2e3d;
    }
    .wrapImg {
        display: flex;
        justify-content: space-between;
        margin-top: 96px;
        .withMask {
            position: relative;
            .mask {
                position: absolute;
                left: 0;
                top: 0;
            }
            .maskText {
                position: absolute;
                font-size: 26px;
                line-height: 31px;
                color: #ffffff;
                left: 53px;
                bottom: 61px;
                width: 236px;
            }
        }
    }
}
