$max-width: 1570px;
$margin: 0 auto;
%btn {
    display: flex;
    justify-content: center;
    button {
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2.18182px;
        text-align: center;
        vertical-align: baseline;
        text-transform: uppercase;
    }
}

@mixin fontsc($f, $c) {
    font-size: $f;
    color: $c;
}
@mixin flex_jc($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin flex_fd($direction) {
    display: flex;
    flex-direction: $direction;
}
@mixin posAbs_left($left) {
    position: absolute;
    left: $left;
}



// .container {
//     max-width: $max-width;
//     margin: $margin;
//     height: 1080px;
//     position: relative;
//     .callArticle {
//         @include fontsc(64px, #1c2e3d);
//         padding-top: 150px;
//         max-width: 730px;
//         font-weight: 900;
//         height: 160px;
//         line-height: 80px;
//     }
//     .wrapImg {
//         @include flex_jc(space-between);
//         margin-top: 96px;
//         .withMask {
//             position: relative;
//             .mask {
//                 @include posAbs_left(0);
//                 top: 0;
//             }
//             .maskText {
//                 @include fontsc(26px, #ffffff);
//                 @include posAbs_left(53px);
//                 line-height: 31px;
//                 bottom: 61px;
//                 width: 236px;
//             }
//         }
//     }
// }
