.footer {
    height: 498px;
    margin-top: 140px;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    .containerFooter {
        max-width: $max-width;
        margin: 0 auto;
        padding-top: 124px;
        @include flex_jc(space-between);
        margin-bottom: 120px;

        .column {
            @include flex_fd(column);
            .title {
                @include fontsc(12px, #100e0b);
                font-family: "HelveticaNeue";
                line-height: 14px;
                letter-spacing: 2.15px;
                text-transform: uppercase;
                padding-bottom: 32px;
            }
            .line {
                border-bottom: 1px solid #57a773;
                width: 48px;
                margin-bottom: 32px;
            }
            a {
                @include fontsc(13px, #959ea6);
                text-decoration: none;
                font-family: "SFCompactText";
                font-weight: 400;
                line-height: 29px;
            }
            input {
                width: 304px;
                height: 64px;
                padding: 0 32px;
                margin-bottom: 16px;
                font-size: 17px;
                border-radius: 8px;
                background: #ffffff;
                border: 1px solid rgba(179, 179, 179, 0.5);
            }
            // input::placeholder {
            //     background: url(/assets/style/user.svg) no-repeat right;
            // }
            .btn {
                max-width: 376px;
                height: 80px;
                background: #73afba;
                border-radius: 8px;
                @extend %btn;
            }
        }
    }
}
.footerBottom {
    max-width: $max-width;
    margin: 0 auto;
    @include flex_jc(space-between);
    padding: 32px 0px;
    .footText {
        @include fontsc(13px, #959ea6);
        font-family: "SFProText";
        line-height: 15px;
        display: flex;
        .service {
            padding-right: 40px;
        }
    }
}
