.wrapForm {
    max-width: $max-width;
    margin: 150px auto 0 auto;
    // height: 798px;
    position: relative;
    img {
        width: 100%;
    }
    .blockForm {
        @include posAbs_left(135px);
        @include flex_fd(column);
        max-width: 368px;
        // top: 336px;
        bottom: 20%;
        .blockTitle {
            @include fontsc(64px, #ffffff);
            line-height: 122%;
        }
        .blockText {
            @include fontsc(16px, #ffffff);
            margin-top: 40px;
            font-family: "SFCompactText";
            line-height: 130%;
        }
    }
    form {
        max-width: 501px;
        position: absolute;
        right: 133px;
        // top: 452px;
        bottom: -10%;
        background-color: #ffffff;
        .wrapInput {
            @include flex_fd(column);
            margin-top: 40px;
            margin-bottom: 65px;
            width: 501px;
            .line {
                input {
                    letter-spacing: 2px;
                    color: #1c2e3d;
                    border: transparent;
                    border-bottom: 1px solid rgba(179, 179, 179, 0.5);
                    margin-left: 73px;
                    padding-bottom: 24px;
                    padding-top: 32px;
                    width: 352px;
                }
            }
        }
        .btnForm {
            height: 80px;
            background: #73afba;
            border-radius: 0 0 8px 8px;
            @extend %btn;
        }
    }
}
