.wrapForm {
    max-width: $max-width;
    margin: 150px auto 0 auto;
    height: 798px;
    position: relative;
    img {
        width: 100%;
    }
    .blockForm {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 368px;
        top: 336px;
        left: 135px;
        .blockTitle {
            font-size: 64px;
            line-height: 80px;
            color: #ffffff;
        }
        .blockText {
            margin-top: 40px;
            font-family: "SFCompactText";
            font-size: 16px;
            line-height: 21px;
            color: #ffffff;
        }
    }
    form {
        max-width: 501px;
        position: absolute;
        right: 133px;
        top: 474px;
        background-color: #ffffff;
        .wrapInput {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 65px;
            width: 501px;
            .line {
                input {
                    letter-spacing: 2px;
                    color: #1c2e3d;
                    border: transparent;
                    border-bottom: 1px solid rgba(179, 179, 179, 0.5);
                    margin-left: 73px;
                    padding-bottom: 24px;
                    padding-top: 32px;
                    width: 352px;
                }
            }
        }
        .btnForm {
            height: 80px;
            background: #73afba;
            border-radius: 0 0 8px 8px;
            @extend %btn;
        }
    }
}
