$max-width: 1570px;
$margin: 0 auto;
%btn {
    display: flex;
    justify-content: center;
    button {
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2.18182px;
        text-align: center;
        vertical-align: baseline;
        text-transform: uppercase;
    }
}

@mixin fontsc($f, $c) {
    font-size: $f;
    color: $c;
}
@mixin flex_jc($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin flex_fd($direction) {
    display: flex;
    flex-direction: $direction;
}
@mixin posAbs_left($left) {
    position: absolute;
    left: $left;
}




.wrapForm {
    max-width: $max-width;
    margin: 150px auto 0 auto;
    height: 798px;
    position: relative;
    img {
        width: 100%;
    }
    .blockForm {
        @include posAbs_left(135px);
        @include flex_fd(column);
        max-width: 368px;
        top: 336px;
        .blockTitle {
            @include fontsc(64px, #ffffff);
            line-height: 80px;
        }
        .blockText {
            @include fontsc(16px, #ffffff);
            margin-top: 40px;
            font-family: "SFCompactText";
            line-height: 21px;
        }
    }
    form {
        max-width: 501px;
        position: absolute;
        right: 133px;
        top: 474px;
        background-color: #ffffff;
        .wrapInput {
            @include flex_fd(column);
            margin-top: 40px;
            margin-bottom: 65px;
            width: 501px;
            .line {
                input {
                    letter-spacing: 2px;
                    color: #1c2e3d;
                    border: transparent;
                    border-bottom: 1px solid rgba(179, 179, 179, 0.5);
                    margin-left: 73px;
                    padding-bottom: 24px;
                    padding-top: 32px;
                    width: 352px;
                }
            }
        }
        .btnForm {
            height: 80px;
            background: #73afba;
            border-radius: 0 0 8px 8px;
            @extend %btn;
        }
    }
}
