$max-width: 1570px;
$margin: 0 auto;

%btn {
    display: flex;
    justify-content: center;

    button {
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2.18182px;
        text-align: center;
        vertical-align: baseline;
        text-transform: uppercase;
    }
}

@mixin fontsc($f, $c) {
    font-size: $f;
    color: $c;
}

@mixin flex_jc($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin flex_fd($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin posAbs_left($left) {
    position: absolute;
    left: $left;
}

.wrap {
    max-width: $max-width;
    margin: $margin;
    position: relative;

    .nameArticle {
        @include fontsc(64px, #1c2e3d);
        padding-top: 150px;
        line-height: 80px;
        text-align: center;
    }

    .textArticle {
        @include fontsc(16px, #788692);
        font-family: "SFCompactText";
        max-width: 640px;
        line-height: 24px;
        text-align: center;
        text-align: center;
        margin: 0 auto 96px auto;
    }

    // picture {
    //     display: flex;
    //     width: 100%;
    //     margin-bottom: 32px;
    // }

}

.posRelative{
    position: relative;
}
.about {
    @include posAbs_left(40px);
    @include fontsc(10px, #ffffff);
    bottom: 70px;
    line-height: 12px;
    letter-spacing: 1.1px;
    margin-bottom: 8px;
    a{
        text-decoration: none;
        display: block
    }
    .title {
        @include fontsc(32px, #ffffff);
        line-height: 40px;
        margin-bottom: 30px;
    }

    .avatar {
        position: relative;

        .avatar1 {
            position: absolute;

            img {
                position: absolute;
            }
        }

        .avatar2 {
            @include posAbs_left(32px);

            img {
                position: absolute;
            }
        }

        .avatar3 {
            @include posAbs_left(64px);

            img {
                position: absolute;
            }
        }
    }

}

// picture {
//     display: flex;
//     width: 100%;
//     margin-bottom: 32px;
//     .row1foto {
//         position: relative;
//         .row1foto-fill {
//             @include posAbs_left(40px);
//             display: flex;
//             flex-direction: column;
//             top: 322px;
//             .about {
//                 @include fontsc(10px, #ffffff);
//                 line-height: 12px;
//                 letter-spacing: 1.1px;
//                 text-transform: uppercase;
//                 margin-bottom: 8px;
//             }
//             .title {
//                 @include fontsc(32px, #ffffff);
//                 line-height: 40px;
//                 margin-bottom: 30px;
//             }
//             .avatar{
//                 position: relative;
//                 .avatar1{
//                     position: absolute;
//                     img{
//                         position: absolute;
//                     }
//                 }
//                 .avatar2{
//                     @include posAbs_left(32px);
//                     img{
//                         position: absolute;
//                     }
//                 }
//                 .avatar3{
//                     @include posAbs_left(64px);
//                     img{
//                         position: absolute;
//                     }
//                 }
//             }
//         }
//     }
//     .row1foto2 {
//         position: relative;
//     }
// }
// }

.inspiration_wrap {
    height: 100%;
    padding: 0;
}