.wrap {
    max-width: $max-width;
    margin: $margin;
    position: relative;

    .nameArticle {
        @include fontsc(64px, #1c2e3d);
        padding-top: 150px;
        line-height: 80px;
        text-align: center;
    }

    .textArticle {
        @include fontsc(16px, #788692);
        font-family: "SFCompactText";
        max-width: 640px;
        line-height: 24px;
        text-align: center;
        text-align: center;
        margin: 0 auto 96px auto;
    }

}

.posRelative{
    position: relative;
}
.about {
    @include posAbs_left(40px);
    @include fontsc(10px, #ffffff);
    bottom: 70px;
    line-height: 12px;
    letter-spacing: 1.1px;
    margin-bottom: 8px;
    a{
        text-decoration: none;
        display: block
    }
    .title {
        @include fontsc(32px, #ffffff);
        line-height: 40px;
        margin-bottom: 30px;
    }

    .avatar {
        position: relative;

        .avatar1 {
            position: absolute;

            img {
                position: absolute;
            }
        }

        .avatar2 {
            @include posAbs_left(32px);

            img {
                position: absolute;
            }
        }

        .avatar3 {
            @include posAbs_left(64px);

            img {
                position: absolute;
            }
        }
    }

}

.inspiration_wrap {
    height: 100%;
    padding: 0;
}