@font-face {
    font-family: "SFProDisplay";
    src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
    font-family: "SFCompactText";
    src: url("/assets/fonts/SFCompactText-Light.otf");
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("/assets/fonts/HelveticaNeueCyr-Medium.ttf");
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: "SFProDisplay", sans-serif;
}

$max-width: 1570px;
$margin: 0 auto;

%btn {
    display: flex;
    justify-content: center;
    button {
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2.18182px;
        text-align: center;
        vertical-align: baseline;
        text-transform: uppercase;
    }
}

@mixin fontsc($f, $c) {
    font-size: $f;
    color: $c;
}
@mixin flex_jc($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin flex_fd($direction) {
    display: flex;
    flex-direction: $direction;
}
@mixin posAbs_left($left) {
    position: absolute;
    left: $left;
}
