.wrap {
    max-width: $max-width;
    margin: $margin;
    position: relative;
    .nameArticle {
        @include fontsc(64px, #1c2e3d);
        padding-top: 150px;
        line-height: 80px;
        text-align: center;
    }
    .textArticle {
        @include fontsc(16px, #788692);
        font-family: "SFCompactText";
        max-width: 640px;
        line-height: 24px;
        text-align: center;
        text-align: center;
        margin: 0 auto 96px auto;
    }
}
picture {
    position: relative;
    @include flex_jc(space-between);
    width: 100%;
    .wrapVideo {
        position: relative;
        .btnPlay {
            @include posAbs_left(48px);
            top: 39px;
        }
        .bottomTextPlay {
            @include posAbs_left(40px);
            @include fontsc(32px, #ffffff);
            left: 40px;
            bottom: 40px;
            line-height: 40px;
        }
    }
    .sizeImg {
        max-height: 550px;
        align-self: center;
    }
}
